* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-group {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #8349c3;
}

.drawer {
  font-size: 2rem;
  display: none;
}

.nav-group h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  margin: auto 20px;
}

.items-click {
  display: none;
}

.items {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
}

#algos {
  margin: 0 10px;
  color: black;
  background-color: rgb(232, 240, 254);
}
.size-group {
  display: flex;
}
#size-label {
  display: inline-block;
  margin: auto 0px;
}

input[type="text"] {
  background-color: rgb(232, 240, 254);
  color: rgb(80, 76, 76);
  font-weight: 700;
  word-spacing: 30px;
  width: 80px;
  margin: 0 10px;
  outline: none;
  border-radius: 50px;
  text-align: center;
  padding: 3px auto;
  border: none;
}

.speed-group {
  display: flex;
}

#speed-label {
  display: inline-block;
  margin: auto 0px;
}
input[type="range"] {
  margin: 0 10px;
}
.random {
  margin: 0 10px;
  background-color: #ffdb58;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 50px;
}
.random:focus {
  outline: none;
}

@media only screen and (max-width: 1040px) {
  .drawer {
    display: block;
  }
  .items {
    display: none;
  }
  .items-click {
    display: flex;
    user-select: none;
    width: 100%;
    background-color: rgb(1, 25, 88);
    padding: 8px;
    justify-content: center;
    align-items: flex-end;
  }
  #algos {
    margin: auto 10px;
    color: black;
  }
}

@media only screen and (max-width: 500px) {
  .items-click {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    background-color: rgb(1, 25, 88);
    justify-content: space-evenly;
    align-items: center;
  }

  .items-click .size-group {
    margin: 8px;
  }

  .items-click button {
    margin: 8px;
  }

  #algos {
    margin: 8px;
    color: black;
  }
}

@media only screen and (max-width: 325px) {
  .nav-group h2 {
    font-size: 22px;
  }
}
